﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.EF.MenuCategory>
<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Quản lý danh sách hệ thống Menu</h1>
                    </div>
                </div>

<button type="button" onclick="addCategory()" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <i class="ace-icon fa fa-search-plus bigger-130"></i>Thêm Cate Menu</button>
<div class="alert alert-info">
                            Trang Admin!!
                          <br />
                            Website of MG_Company
                        </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                           <h5>Thông tin Hệ thống Menu</h5>
                        </div>
                        <div class="panel-body">
<table id="dynamic-table" class="table table-striped table-bordered table-hover" style="width:80%;margin:0px auto;">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th class="text-center">#</th>
														<th class="text-center">Name</th>
														<th class="text-center">Area</th>
														<th class="text-center">Status</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
                                                    @foreach (var i in Model)
                                                    { 
                                                        <tr>
														    <td class="center">
															    <label class="pos-rel">
																    <input type="checkbox" class="ace" />
																    <span class="lbl"></span>
															    </label>
														    </td>
                                                             <td>
															    <p class="text-center">@i.id</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.name</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Area</p>
														    </td>
                                                            <td>
															    <p class="text-center">@(i.Status==true?"Actived":"Disabled")</p>
														    </td>
                                                            														<td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" onclick="addCategory(@i.id,'@i.name','@i.Area','@i.Status')" data-toggle="modal" data-target="#myModal">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="#">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>
													</tr>
                                                    }
												</tbody>
											</table>
                                    </div>
                            </div>
    <script>
        function addCategory(id,name,area,status) {
            $("[name=name]").val(name);
            $("[name=Area]").val(area);
            $("[name=Status]").val(status);
        }
    </script>
    @{Html.RenderPartial("_themCategory");}
    </div>