﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.CodeHandle.CartCustomerModel.CartDetailModel>
@{var index = 1;}
 <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Quản lý danh sách đơn hàng</h1>
                    </div>
                </div>

<button type="button" onclick="/" class="btn btn-primary"> <i class="ace-icon fa fa-search-plus bigger-130"></i>Thêm vào</button>
<div class="alert alert-info">
                            Trang Admin!!
                          <br />
                            Website of MG_Company
                        </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                           <h5>Thông tin các đơn đặt hàng</h5>
                        </div>
                        <div class="panel-body">
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>#</th>
														<th>Tên Khách</th>
                                                        <th>Tên Hàng</th>
                                                        <th>Số lượng</th>
                                                        <th>Ngày đặt</th>
                                                        <th>Giá</th>
														<th class="hidden-480">Status</th>
                                                        <th>Pay by...</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
                                                    @foreach (var i in Model)
                                                    { 
                                                        <tr>
														    <td class="center">
															    <label class="pos-rel">
																    <input type="checkbox" class="ace" />
																    <span class="lbl"></span>
															    </label>
														    </td>
                                                             <td>
															    <p class="text-center">@(index++)</p>
														    </td>
                                                            <td>
                                                                <p class="text-center">@i.nameCustomer</p>
														    </td>
                                                             <td>
                                                                <p class="text-center">@i.nameProduct</p>
														    </td>
                                                             <td>
                                                                <p class="text-center">@i.count</p>
														    </td>
                                                             <td>
                                                                <p class="text-center">@(i.dateBought!=null?i.dateBought.Value.ToShortDateString():"")</p>
														    </td>
                                                             <td>
                                                                <p class="text-center">@i.price</p>
														    </td>
                                                            <td>
															    <p class="text-center">@i.Status</p>
														    </td>
                                                            <td>
															    <p class="text-center"><span class="label label-success arrowed">@i.payMethod</span></p>
														    </td>
                                                            														<td>
															<div class="hidden-sm hidden-xs action-buttons">
																<a class="green" href="#">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" href="#">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>
													</tr>
                                                    }
												</tbody>
											</table>
                                    </div>
                            </div>
     </div>